*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #1b2430;
    --text-color: #17cf97;
    
}
body{
    background-color: #000000;
}
@media(max-width:767px){
    nav{
        width: 100%;
    }
    .Ibar .fa-bars, .fa-xmark{
        font-size: 30px;
    }
    nav .logo{
    }
    .list{
        display: grid;
        position: fixed;
        background-color: #1b2430;
        right: 0;
        float: right;
        top: -18rem;
        height: 40%;
        width: 60%;
        padding-top: 1rem;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
}
    .list.show{
        top: 48px;
        
    }
    
}
@media(min-width:768px){
    nav{
        width: 100%;
    }
    .Ibar .fa-bars, .fa-xmark{
        display:none;
    }
    .list{
        list-style: none;
        padding-top: 10px;
    }
    .list .item{
        display: inline-block;
        margin-left: 10px;
        font-weight: bolder;
        position: relative;
        padding: 4px 5px;
        transition: .8s;
        -webkit-transition: .8s;
        -moz-transition: .8s;
        -ms-transition: .8s;
        -o-transition: .8s;
}
    .list .item:hover{
        border: 1px solid;
        border-radius: 50px;
    }
    

}
nav{
    background-color: var(--main-color);
    color: var(--text-color);;
    align-items: center;
    position: fixed;
    justify-content: space-around;
    height: 51px;
}
.list{
    list-style: none;
    padding-top: 10px;
}
.list .item ul.Dropdown{
    list-style: none;
    position: absolute;
    background-color: var(--text-color);
    width: 200%;
    margin: 15px 0px;
    border-radius: 0px 0px 15px 15px;
    padding: 13px 5px;
    display: none;
    -webkit-border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    -ms-border-radius: 0px 0px 15px 15px;
    -o-border-radius: 0px 0px 15px 15px;
}
.list .item:hover ul.Dropdown{
    display: block;

}

.Dropdown .it{
    margin: 15px 12px;
    transition: .5;
    -webkit-transition: .5;
    -moz-transition: .5;
    -ms-transition: .5;
    -o-transition: .5;
}
.Dropdown .it a{
    color: var(--main-color);
}
.Dropdown .it:hover{
    transform: translateX(.5rem);
    -webkit-transform: translateX(.5rem);
    -moz-transform: translateX(.5rem);
    -ms-transform: translateX(.5rem);
    -o-transform: translateX(.5rem);
}
.item a{
    color: var(--text-color);
    text-decoration: underline;
    padding: 18px 0px;

}


