.myform{
    margin: 0px auto;
    background-color: rgb(238, 238, 238);
    width: 48%;

}
.choise ul li{
    display: inline-block;
    margin: 0px 10px;
}

.Sign_Up .email, .password{
    background-color: rgb(255, 96, 96);
    width: 100%;
}
.login.loginNon{
    display: none;
}