@media(min-width:767px){}
@media(min-width:768px){}
@media(min-width:991px){
    .row div img{
        width:70%;
    }
}
@media(min-width:1199px){
    .row div img{
        width:70%;
    }
}
:root{
    --box-color: rgb(255, 245, 159);
}
.container{
    padding-top: 5rem;
    
}
.row div{
    background-color: var(--box-color);
}
.row div img{
    width: 100%;
    height: 180px;
    border: 4px solid var(--main-color);
}
.book .row img{
    width: 87%;
    height: 290px;
}